# Model Building Requirements
numpy==1.22.3
pandas==1.4.2
stockstats==0.4.1
scikit-learn==1.0.2
gym==0.23.1
stable-baselines3[extra]
pytorch

joblib==1.1.0

# plot
matplotlib==3.5.1

# testing requirements
pytest==7.1.1

# packaging
setuptools==58.1.0
wheel==0.37.1



